@using S3.Train.WebPerFume.Models
@model ShoppingCartModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text product-more">
                    <a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i> Home</a>
                    <a href="@Url.Action("Index","Shop")">Shop</a>
                    <span>Shopping Cart</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section Begin -->
<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cart-table">
                    <table>
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th class="p-name">Product Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th><i class="ti-close"></i></th>
                            </tr>
                        </thead>
                        @foreach (var item in Model.ShoppingCartDetails)
                        {
                            <tbody>
                                <tr>
                                    <td class="cart-pic first-row">
                                        <img src="~/Content/img/product-men/@item.ProductVariation.Product.ImagePath" class="rounded quantity" alt="">
                                    </td>
                                    <td class="cart-title first-row">
                                        <h5>@item.ProductVariation.Product.Name @item.ProductVariation.Volume</h5>
                                    </td>
                                    <td class="p-price first-row price">$@item.ProductVariation.Price</td>
                                    <td class="qua-col first-row">
                                        <div class="quantity">
                                            <div class="pro-qty">
                                                <input type="number" min="1" max="@item.ProductVariation.StockQuantity" value="@item.Quantity">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="total-price first-row">$@(item.Quantity * item.ProductVariation.Price)</td>
                                    <td class="close-td first-row">
                                        <a href="@Url.Action("DeleteProductOnCart","Cart", new { id = item.Id})">
                                            <i class="ti-close text-black-50"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        }
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="cart-buttons">
                            <a href="@Url.Action("Index","Shop")" class="primary-btn continue-shop">Continue shopping</a>
                            <a href="#" class="primary-btn up-cart">Update cart</a>
                        </div>
                        <div class="discount-coupon">
                            <h6>Discount Codes</h6>
                            <form action="#" class="coupon-form">
                                <input type="text" placeholder="Enter your codes">
                                <button type="submit" class="site-btn coupon-btn">Apply</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 offset-lg-4">
                        <div class="proceed-checkout">
                            <ul>
                                <li class="subtotal">Subtotal <span>$@Model.TotalPrice.ToString()</span></li>
                                <li class="cart-total">Total <span>$@Model.TotalPrice.ToString()</span></li>
                            </ul>
                            <a href="#" class="proceed-btn">PROCEED TO CHECK OUT</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Script
{
    <script>
         $(".quantity").on("change",function(){ 
            var q = $(this).val();
            var id = $(this).attr('id').substring(41);
            var price = $("#MainContent_CartItemGridView_txt_gia_" + id).html();
            $("#sub_total_" + id).html(q * price);
            count_sub_total();
        });
        function count_sub_total(){
            var total = 0;
            
            $(".sub_total").each(function(){
                total += parseFloat($(this).html());
            });
            
            $("#MainContent_lb_tongtien").html(total);
    }

    </script>
}
