@using S3.Train.WebPerFume.Models
@using X.PagedList.Mvc.Common
@using X.PagedList.Mvc
@model X.PagedList.IPagedList<ProductsModel>
@{
    ViewBag.Title = "SearchProduct";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@{
    if (Model.Count() > 0)
    {
        <div class="breacrumb-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb-text">
                            <a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i> Home</a>
                            <span>Search</span>
                        </div>
                        <div class="d-flex flex-row-reverse">
                            <div class="p-2">Search result "@ViewBag.SearchText":  @Model.Count().ToString().</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="product-shop spad">
            <div class="container">
                <div class="row">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-lg-3 col-sm-6">
                                <div class="product-item">
                                    <div class="pi-pic">
                                        <a href="@Url.Action("ProductDetail", "Shop", new { id = item.Id, volume = item.ProductVariations.FirstOrDefault(m => m.Product_Id == item.Id).Volume })">
                                            <img src="~/Content/img/product-men/@item.ImagePath" alt="@item.Name" class="rounded">
                                        </a>
                                        @foreach (var ca in item.Categories)
                                        {
                                            <div class="sale pp-sale">Sale</div>
                                        }
                                        <div class="icon">
                                            <i class="icon_heart_alt"></i>
                                        </div>
                                        <ul>
                                            <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                            <li class="quick-view"><a href="#">+ Quick View</a></li>
                                            <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="pi-text">
                                        <div class="catagory-name">@item.Brand.Name</div>
                                        <a href="@Url.Action("ProductDetail", "Shop", new { id = item.Id, volume = item.ProductVariations.FirstOrDefault(m => m.Product_Id == item.Id).Volume })">
                                            <h5>@item.Name</h5>
                                        </a>
                                        <div class="product-price">$
                                            @if (item.DiscountPrice.Value > 0)
                                            {
                                                @item.DiscountPrice
                                                <span>$@item.Price</span>
                                            }
                                            else
                                            {
                                                @item.Price
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                        @Html.PagedListPager(Model, pageIndex => Url.Action("SearchProduct", new RouteValueDictionary
                        { {"SearchText" , ViewBag.SearchText},
                        { "pageIndex" , pageIndex} } ),

                           new PagedListRenderOptions
                           {
                               LiElementClasses = new string[] { "page-item" },
                               PageClasses = new string[] { "page-link" },
                               DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                               DisplayLinkToLastPage = PagedListDisplayMode.Always,
                               MaximumPageNumbersToDisplay = 5,
                               EllipsesElementClass = "page-link",
                           })

                    </div>
                </div>
            </div>
        </section>
    }
    else
    {
        <div class="breacrumb-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb-text">
                            <a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i> Home</a>
                            <span>Search</span>
                        </div>
                        <div class="align-self-lg-center h2">
                            No Search Result "@ViewBag.SearchText"
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}