@model S3.Train.WebPerFume.Models.CheckoutViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    decimal total = 0;
    decimal subTotal = 0;
    decimal price = 0;
    decimal fee = 0;
}
}
<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text product-more">
                    <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> Home</a>
                    <a href="@Url.Action("Index", "Shop")">Shop</a>
                    <span>Check Out</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section Begin -->
<!-- Shopping Cart Section Begin -->
<section class="checkout-section spad">
    <div class="container">
        @using (Html.BeginForm("Order", "Checkout", FormMethod.Post, new { @class = "checkout-form" }))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-lg-6">
                    <div class="checkout-content">
                        <a href="#" class="content-btn">Click Here To Login</a>
                    </div>
                    <h4>Biiling Details</h4>
                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="col-lg-6">
                            @Html.LabelFor(m => m.customerModel.Name)
                            @Html.TextBoxFor(m => m.customerModel.Name, new { placeholder = "Full Name" })
                            @Html.ValidationMessageFor(m => m.customerModel.Name, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg-6">
                            @Html.LabelFor(m => m.customerModel.Phone)
                            @Html.TextBoxFor(m => m.customerModel.Phone, new { @type = "tel", placeholder = "Phone Number" })
                            @Html.ValidationMessageFor(m => m.customerModel.Phone, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg-12">
                            @Html.LabelFor(m => m.customerModel.Address)
                            @Html.TextBoxFor(m => m.customerModel.Address, new { placeholder = "Address" })
                            @Html.ValidationMessageFor(m => m.customerModel.Address, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg-12">
                            @Html.LabelFor(m => m.customerModel.Email)
                            @Html.TextBoxFor(m => m.customerModel.Email, new { placeholder = "Email" })
                            @Html.ValidationMessageFor(m => m.customerModel.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg-12">
                            @Html.LabelFor(m => m.customerModel.Note)
                            @Html.TextAreaFor(m => m.customerModel.Note, new { @class = "form-control", placeholder = "Note"})
                        </div>
                        <div class="col-lg-12">
                            <div class="create-item">
                                <label for="acc-create">
                                    Create an account?
                                    <input type="checkbox" id="acc-create">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="checkout-content">
                        <input type="text" placeholder="Enter Your Coupon Code">
                    </div>
                    <div class="place-order">
                        <h4>Your Order</h4>
                        <div class="order-total">
                            <ul class="order-table">
                                <li>Product <span>Total</span></li>
                                @for (int i = 0; i < Model.shoppingCartDetailModels.Count(); i++)
                                {
                                    @Html.HiddenFor(m => Model.shoppingCartDetailModels[i].Id)
                                    @Html.HiddenFor(m => Model.shoppingCartDetailModels[i].ProductVariation_Id)
                                    if (Model.shoppingCartDetailModels[i].ProductVariation.DiscountPrice.Value > 0)
                                    {
                                        price = Model.shoppingCartDetailModels[i].ProductVariation.DiscountPrice.Value * Model.shoppingCartDetailModels[i].Quantity;
                                    }
                                    else
                                    {
                                        price = Model.shoppingCartDetailModels[i].ProductVariation.Price * Model.shoppingCartDetailModels[i].Quantity;
                                    }
                                    subTotal += price;
                                    <li class="fw-normal">
                                        @Model.shoppingCartDetailModels[i].ProductVariation.Product.Name @Model.shoppingCartDetailModels[i].ProductVariation.Volume X @Model.shoppingCartDetailModels[i].Quantity
                                        <span>$@price</span>
                                    </li>
                                }

                                <li class="fw-normal">Subtotal <span>$@subTotal</span></li>
                                @{
                                    if (subTotal < 50)
                                    {
                                        total = subTotal + 1;
                                        fee = 1;
                                    }
                                    else
                                    {
                                        total = subTotal;
                                        fee = 0;
                                    }
                                }
                                <li class="fw-normal">Delivery Fee <span>@String.Format("{0:c}", fee)</span></li>
                                <li class="total-price">Total <span>$@total</span></li>
                            </ul>
                            <div class="order-btn">
                                <button type="submit" class="site-btn place-btn">Place Order</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
<!-- Shopping Cart Section End -->