@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@model S3.Train.WebPerFume.Models.ShopViewModel
<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <a href="#"><i class="fa fa-home"></i> Home</a>
                    <span>Shop</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->
<!-- Product Shop Section Begin -->
<section class="product-shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter">
                <div class="filter-widget">
                    <h4 class="fw-title">Categories</h4>
                        <div class="fw-tags">
                            @foreach (var item in Model.categoryModels)
                            {
                                @Ajax.ActionLink(item.Name, "ProductList", "Shop", new { currentPage = 1, searchValue = item.Name, searchFilter = "category", sortOder = ViewBag.CurrentSort },
                           new AjaxOptions
                           {
                               HttpMethod = "GET",
                               InsertionMode = InsertionMode.Replace,
                               UpdateTargetId = "productlist"
                           })
                            }
                        </div>
                </div>
                <div class="filter-widget">
                    <h4 class="fw-title">Brand</h4>
                    <div class="fw-brand-check">
                        @foreach (var item in Model.brandModels)
                        {
                            <div class="bc-item">
                                <label for="bc-calvin">
                                    @item.Name
                                    <input type="checkbox" id="bc-@item.Name">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        }
                    </div>
                </div>
                <div class="filter-widget">
                    <h4 class="fw-title">Size</h4>
                    <div class="fw-tags">
                        @Ajax.ActionLink("25ml", "ProductList", "Shop", new { currentPage = 1, searchValue = "25ml", searchFilter = "volume", sortOder = ViewBag.CurrentSort},
                       new AjaxOptions
                       {
                           HttpMethod = "GET",
                           InsertionMode = InsertionMode.Replace,
                           UpdateTargetId = "productlist"
                       })
                        @Ajax.ActionLink("50ml", "ProductList", "Shop", new { currentPage = 1, searchValue = "50ml", searchFilter ="volume", sortOder = ViewBag.CurrentSort },
                       new AjaxOptions
                       {
                           HttpMethod = "GET",
                           InsertionMode = InsertionMode.Replace,
                           UpdateTargetId = "productlist"
                       })
                        @Ajax.ActionLink("100ml", "ProductList", "Shop", new { currentPage = 1, searchValue = "100ml", searchFilter = "volume", sortOder = ViewBag.CurrentSort },
                       new AjaxOptions
                       {
                           HttpMethod = "GET",
                           InsertionMode =  InsertionMode.Replace,
                           UpdateTargetId = "productlist"
                       })
                        @Ajax.ActionLink("200ml", "ProductList", "Shop", new { currentPage = 1, searchValue = "100ml",searchFilter = "volume", sortOder = ViewBag.CurrentSort },
                         new AjaxOptions
                         {
                             HttpMethod = "GET",
                             InsertionMode = InsertionMode.Replace,
                             UpdateTargetId = "productlist"
                         })
                    </div>
                </div>
            </div>
            <div class="col-lg-9 order-1 order-lg-2">
                <div class="product-show-option">
                    <div class="row">
                        <div class="col-lg-7 col-md-7">
                            <div class="select-option">
                                <select id="orderDropDownList" class="sorting">
                                    <option value="name">Name Ascending</option>
                                    <option value="name_desc">Name Descending </option>
                                    <option value="price">Price Ascending</option>
                                    <option value="price_desc">Price Descending</option>
                                    <option value="category">Category Ascending</option>
                                    <option value="category_desc">Category Descending</option>
                                    <option value="brand">Brand Ascending</option>
                                    <option value="brand_desc">Brand Descending</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 text-right">
                            <p>Show 01- 09 Of @Model.productListModels.productModels.Count() Product</p>
                        </div>
                    </div>
                </div>
                @{ Html.RenderPartial("/Views/Partials/ProductList.cshtml", Model.productListModels); }
            </div>
        </div>
    </div>
</section>
<!-- Product Shop Section End -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
    $(document).on('click.nice_select', '.nice-select .option:not(.disabled)', function (event) {
        setTimeout(function () {
            var order = $("#orderDropDownList").val();
            //alert('The option with value ' + order);
            $.ajax({
                url: "/Shop/ProductList",
                type: "GET",
                data: {
                    currentPage: 1,
                    sortOrder: order,
                    searchValue: '@ViewBag.CurrentFilterValue',
                    searchFilter: '@ViewBag.CurrentFilter',
                },
                success: function (result) {
                    //alert(result);
                    $('#productlist').html(result);
                },
                error: function (e) {
                    alert(this.url);
                }
            });
        }, 1000)
        });
    });
</script>