@using S3.Train.WebPerFume.Areas.Admin.Models;
@model IEnumerable<OrderViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";

    int stt = 1;
}

<div class="card ">
    <div class="card-body">
        <h2 class="card-text">Orders</h2>
        <hr />
        <table id="myTable" class="table table-hover">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DeliveryName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DeliveryPhone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SubPrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ToatalPrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td>
                            @stt
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DeliveryName)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.DeliveryPhone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderDate)
                        </td>
                        <td>
                            $@Html.DisplayFor(modelItem => item.SubPrice)
                        </td>
                        <td>
                            $@Html.DisplayFor(modelItem => item.ToatalPrice)
                        </td>
                        <td>
                            @if (item.Status == "Success Order")
                            {
                                <label class="badge badge-gradient-success">@item.Status</label>
                            }
                            else
                            {
                                if (item.Status == "Cancel")
                                {
                                    <label class="badge badge-gradient-danger">@item.Status</label>
                                }
                                else
                                {
                                    <label class="badge badge-gradient-primary">@item.Status</label>
                                }
                            }
                        </td>
                        <td>
                            @Html.ActionLink("Detail", "DetailOrder", "Order", new { id = item.Id }, new { @class = "btn btn-gradient-info btn-fw" })
                            <br />
                            @Html.Partial("_DeleteOrder", item)
                        </td>
                    </tr>
                </tbody>
                stt += 1;
            }
        </table>
    </div>
</div>
